---
/*
USe Details for collapsible content:
<details>
        <summary>Click to toggle content</summary>
        <p>This is the full content that is revealed when a user clicks on the summary</p>
      </details>

*/

import Layout from "../layouts/Layout.astro";
---

<Layout title="Hi, I'm Sven">
  <main>
    <div style="padding:20px;">
      <h1>
        Hi, I'm Sven. And you are
        <select onchange={`console.log("HELLO", this.value)`}>
          <option value="manager">a manager</option>
          <option value="developer">a developer</option>
          <option value="mom">my mom</option>
          <option value="cat">a cat</option>
        </select>
      </h1>
      <p>
        I'm a software developer with a background in engineering. I'm currently building
        <a href="https://sitopie.com">Sitopie</a>. Before that, I worked on engineering and financial applications.
      </p>
      <p>
        If you'll work with me, I'll build you a proof of concept in a matter of days or weeks and we take it from
        there. This means no big upfront costs.
      </p>
      <p>If you are interested to learn more, reach out.</p>
      <h2>Selected work:</h2>
      <ul>
        <li>Icon Generator</li>
        <li>Sitopie</li>
        <li>IVO Finance</li>
        <li>Windfarm Analysis</li>
        <li>DPG App</li>
        <li>Packhunt</li>
        <li>Ampelmann</li>
      </ul>
      <details>
        <summary>Click to toggle content</summary>
        <p>This is the full content that is revealed when a user clicks on the summary</p>
      </details>
      <details>
        <summary>Click to toggle content</summary>
        <p>This is the full content that is revealed when a user clicks on the summary</p>
      </details>
    </div>
    <svg style="border:1px solid blue;" stroke="black" stroke-width="1px" fill="none" width="500" height="20">
      <line x1="0" y1="10" x2="320" y2="10"></line>
      <path d="M0 10 c 100 3, 100 -5, 300 0"></path>
      <path d="M0 10 c 10 -3, 30 5, 120 0 c 10 -3, 30 2, 100 0 c 40 3, 30 -4, 80 0"></path>
    </svg>
  </main>
</Layout>

<style>
  select {
    padding: 2px;
    transform: translateY(-6px);
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #fffc32;
  }

  h1 span {
    color: #fffc32;
  }

  p {
    color: dimgrey;
    font-weight: 300;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  li {
    font-size: 22px;
    font-weight: 600;
    margin: 4px;
    padding: 3px 5px;
    cursor: pointer;
    border-right: 4px solid #fffc32;
    display: flex;
    flex-direction: row;
  }

  li:hover {
    background: #fffc32;
  }

  h2 {
    font-weight: 500;
    text-align: right;
  }
</style>
